---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-price-tracker
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: server-price-tracker
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: "1"
              memory: 512Mi
