apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-price-tracker
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: server-price-tracker
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
