---
extends: default

rules:
  line-length:
    max: 150
    level: warning
  indentation:
    spaces: 2
    indent-sequences: true
  comments:
    min-spaces-from-content: 1
  document-start:
    present: true
  truthy:
    allowed-values: ["true", "false", "yes", "no", "on", "off"]
    check-keys: false
  empty-values: disable

ignore: |-
  charts/server-price-tracker/templates/
